{
  admin off
  persist_config off
  auto_https off
  log {
    format json
  }
  servers {
    trusted_proxies static private_ranges
  }
}

:{$PORT} {
  log {
    format json
  }

  # Handle frontend requests only for testing
  handle {
    reverse_proxy {$FRONTEND_DOMAIN}:{$FRONTEND_PORT} {
      header_up Host {http.reverse_proxy.upstream.hostport}
    }
  }
}
